<!-- Begin Slider With Banner Area -->
<div class="slider-with-banner">
  <div class="container">
    <div class="row">
      <!-- Begin Slider Area -->
      <div class="col-lg-8 col-md-8">
        <div class="slider-area pt-sm-30 pt-xs-30">
          <div class="slider-active owl-carousel">
            <!-- Begin Single Slide Area -->
            <div class="single-slide align-center-left animation-style-01 bg-1">
              <div class="slider-progress"></div>
              <div class="slider-content">
                <h5>Giảm Giá Đến <span>20%</span> Trong Tuần Này</h5>
                <h2>Chamcham Galaxy S9 | S9+</h2>
                <h3>Giá chỉ từ <span>24.000.000 VNĐ</span></h3>
                <div class="default-btn slide-btn">
                  <a class="links" href="shop-left-sidebar.html">Mua Ngay</a>
                </div>
              </div>
            </div>
            <!-- Single Slide Area End Here -->
            <!-- Begin Single Slide Area -->
            <div class="single-slide align-center-left animation-style-02 bg-2">
              <div class="slider-progress"></div>
              <div class="slider-content">
                <h5>Giảm Giá <span>Black Friday</span> Trong Tuần Này</h5>
                <h2>Work Desk Surface Studio 2018</h2>
                <h3>Giá chỉ từ <span>16.000.000 VNĐ</span></h3>
                <div class="default-btn slide-btn">
                  <a class="links" href="shop-left-sidebar.html">Mua Ngay</a>
                </div>
              </div>
            </div>
            <!-- Single Slide Area End Here -->
            <!-- Begin Single Slide Area -->
            <div class="single-slide align-center-left animation-style-01 bg-3">
              <div class="slider-progress"></div>
              <div class="slider-content">
                <h5>Giảm Giá <span>10%</span> Trong Tuần Này</h5>
                <h2>Phantom 4 Pro+ Obsidian</h2>
                <h3>Giá chỉ từ <span>36.000.000 VNĐ</span></h3>
                <div class="default-btn slide-btn">
                  <a class="links" href="shop-left-sidebar.html">Mua Ngay</a>
                </div>
              </div>
            </div>
            <!-- Single Slide Area End Here -->
          </div>
        </div>
      </div>
      <!-- Slider Area End Here -->
      <!-- Begin Li Banner Area -->
      <div class="col-lg-4 col-md-4 text-center pt-sm-30 pt-xs-30">
        <div class="li-banner">
          <a href="#">
            <img src="images/banner/1_1.jpg" alt="">
          </a>
        </div>
        <div class="li-banner mt-15 mt-md-30 mt-xs-25 mb-xs-5">
          <a href="#">
            <img src="images/banner/1_2.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- Li Banner Area End Here -->
    </div>
  </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Static Top Area -->
<div class="static-top-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="static-top-content mt-sm-30">
          Quà Tặng Đặc Biệt: Quà tặng mỗi ngày cuối tuần - Mã Coupon "<span>TUANDATSALEOFF</span>"
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Static Top Area End Here -->

<!-- product-area start -->
<div class="product-area pt-55 pb-25 pt-xs-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="li-product-tab">
          <ul class="nav li-product-menu">
            <li><a class="active" data-toggle="tab" href="#li-new-product"><span>Sản Phẩm Mới Nhập</span></a></li>
            <li><a data-toggle="tab" href="#li-bestseller-product"><span>Sản Phẩm Bán Chạy</span></a></li>
            <li><a data-toggle="tab" href="#li-featured-product"><span>Sản Phẩm Nổi Bật</span></a></li>
          </ul>
        </div>
        <!-- Begin Li's Tab Menu Content Area -->
      </div>
    </div>

    <div class="tab-content">
      <div id="li-new-product" class="tab-pane active show" role="tabpanel">
        <div class="row">
          <div class="product-active owl-carousel">
            {{#each newProducts}}
            <div class="col-lg-12">
              <!-- single-product-wrap start -->
              <div class="single-product-wrap">
                <div class="product-image">
                  <a href="single-product-{{id}}">
                    <img src="images/product/large-size/{{images}}" alt="Li's Product Image">
                  </a>
                  {{#if new}}
                  <span class="sticker">Mới</span>
                  {{/if}}
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="/brand/{{brand}}">{{brand}}</a>
                      </h5>
                      <div class="rating-box">
                        <ul class="rating">
                          <li class="{{rating.[0]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[1]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[2]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[3]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[4]}}"><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                    <h4><a class="product_name" href="single-product-{{id}}">{{name}}</a>
                    </h4>
                    <div class="price-box">
                      <span class="new-price new-price-2">{{newPrice}}₫</span>
                      <span class="old-price">{{price}}₫</span>
                      <span class="discount-percentage">-{{promote}}%</span>
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                      <li><a class="links-details" href="single-product-{{id}}"><i class="fa fa-heart-o"></i></a></li>
                      <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                            class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- single-product-wrap end -->
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div id="li-bestseller-product" class="tab-pane" role="tabpanel">
        <div class="row">
          <div class="product-active owl-carousel">
            {{#each popularProducts}}
            <div class="col-lg-12">
              <!-- single-product-wrap start -->
              <div class="single-product-wrap">
                <div class="product-image">
                  <a href="single-product-{{id}}">
                    <img src="images/product/large-size/{{images}}" alt="Li's Product Image">
                  </a>
                  {{#if new}}
                  <span class="sticker">Mới</span>
                  {{/if}}
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="/brand/{{brand}}">{{brand}}</a>
                      </h5>
                      <div class="rating-box">
                        <ul class="rating">
                          <li class="{{rating.[0]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[1]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[2]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[3]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[4]}}"><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                    <h4><a class="product_name" href="single-product-{{id}}">{{name}}</a>
                    </h4>
                    <div class="price-box">
                      <span class="new-price new-price-2">{{newPrice}}₫</span>
                      <span class="old-price">{{price}}₫</span>
                      <span class="discount-percentage">-{{promote}}%</span>
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                      <li><a class="links-details" href="single-product-{{id}}"><i class="fa fa-heart-o"></i></a></li>
                      <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                            class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- single-product-wrap end -->
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div id="li-featured-product" class="tab-pane" role="tabpanel">
        <div class="row">
          <div class="product-active owl-carousel">
            {{#each highRatingProducts}}
            <div class="col-lg-12">
              <!-- single-product-wrap start -->
              <div class="single-product-wrap">
                <div class="product-image">
                  <a href="single-product-{{id}}">
                    <img src="images/product/large-size/{{images}}" alt="Li's Product Image">
                  </a>
                  {{#if new}}
                  <span class="sticker">Mới</span>
                  {{/if}}
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="/brand/{{brand}}">{{brand}}</a>
                      </h5>
                      <div class="rating-box">
                        <ul class="rating">
                          <li class="{{rating.[0]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[1]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[2]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[3]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[4]}}"><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                    <h4><a class="product_name" href="single-product-{{id}}">{{name}}</a>
                    </h4>
                    <div class="price-box">
                      <span class="new-price new-price-2">{{newPrice}}₫</span>
                      <span class="old-price">{{price}}₫</span>
                      <span class="discount-percentage">-{{promote}}%</span>
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                      <li><a class="links-details" href="single-product-{{id}}"><i class="fa fa-heart-o"></i></a></li>
                      <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                            class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- single-product-wrap end -->
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- product-area end -->

<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner li-static-banner-4 text-center pt-20">
  <div class="container">
    <div class="row">
      <!-- Begin Single Banner Area -->
      <div class="col-lg-6">
        <div class="single-banner pb-sm-30 pb-xs-30">
          <a href="#">
            <img src="images/banner/2_3.jpg" alt="Li's Static Banner">
          </a>
        </div>
      </div>
      <!-- Single Banner Area End Here -->
      <!-- Begin Single Banner Area -->
      <div class="col-lg-6">
        <div class="single-banner">
          <a href="#">
            <img src="images/banner/2_4.jpg" alt="Li's Static Banner">
          </a>
        </div>
      </div>
      <!-- Single Banner Area End Here -->
    </div>
  </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45 pt-sm-50 pt-xs-60">
  <div class="container">
    <div class="row">
      <!-- Begin Li's Section Area -->
      <div class="col-lg-12">
        <div class="li-section-title">
          <h2>
            <span>Apple</span>
          </h2>
          <ul class="li-sub-category-list">
            <li class="active"><a href="shop-left-sidebar.html">Samsung</a></li>
            <li><a href="shop-left-sidebar.html">OPPO</a></li>
            <li><a href="shop-left-sidebar.html">Xiaomi</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="product-active owl-carousel">
            {{#each appleBrandProducts}}
            <div class="col-lg-12">
              <!-- single-product-wrap start -->
              <div class="single-product-wrap">
                <div class="product-image">
                  <a href="single-product-{{id}}">
                    <img src="images/product/large-size/{{images}}" alt="Li's Product Image">
                  </a>
                  {{#if new}}
                  <span class="sticker">Mới</span>
                  {{/if}}
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="/brand/{{brand}}">{{brand}}</a>
                      </h5>
                      <div class="rating-box">
                        <ul class="rating">
                          <li class="{{rating.[0]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[1]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[2]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[3]}}"><i class="fa fa-star"></i></li>
                          <li class="{{rating.[4]}}"><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                    <h4><a class="product_name" href="single-product-{{id}}">{{name}}</a>
                    </h4>
                    <div class="price-box">
                      <span class="new-price new-price-2">{{newPrice}}₫</span>
                      <span class="old-price">{{price}}₫</span>
                      <span class="discount-percentage">-{{promote}}%</span>
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                      <li><a class="links-details" href="single-product-{{id}}"><i class="fa fa-heart-o"></i></a></li>
                      <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                            class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- single-product-wrap end -->
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <!-- Li's Section Area End Here -->
    </div>
  </div>
</section>
<!-- Li's Laptop Product Area End Here -->
<!-- Begin Li's Static Home Area -->
<div class="li-static-home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Begin Li's Static Home Image Area -->
        <div class="li-static-home-image"></div>
        <!-- Li's Static Home Image Area End Here -->
        <!-- Begin Li's Static Home Content Area -->
        <div class="li-static-home-content">
          <p>Giảm Giá Lên Đến<span> 20%</span>Trong Tuần Này</p>
          <h2>Sản Phẩm Nổi Bật</h2>
          <h2>Phụ Kiện Sony 2019</h2>
          <p class="schedule">
            Giá chỉ từ
            <span> 1.999.000₫</span>
          </p>
          <div class="default-btn">
            <a href="shop-left-sidebar.html" class="links">Mua Ngay</a>
          </div>
        </div>
        <!-- Li's Static Home Content Area End Here -->
      </div>
    </div>
  </div>
</div>
<!-- Li's Static Home Area End Here -->
<!-- Begin Group Featured Product Area -->
<div class="group-featured-product pt-60 pb-40 pb-xs-25">
  <div class="container">
    <div class="row">
      <!-- Begin Featured Product Area -->
      <div class="col-lg-4">
        <div class="featured-product">
          <div class="li-section-title">
            <h2>
              <span>Apple</span>
            </h2>
          </div>
          <div class="featured-product-active-2 owl-carousel">
            <div class="featured-product-bundle">
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/1.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product-{{id}}">Điện thoại iPhone 11 Pro Max 256GB
                      </a></h4>
                    <div class="featured-price-box">
                      <span class="new-price">37.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/2.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product-{{id}}">Điện thoại iPhone Xs Max 256GB</a>
                    </h4>
                    <div class="featured-price-box">
                      <span class="new-price">33.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/3.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product-{{id}}">Điện thoại iPhone 11 128GB
                      </a></h4>
                    <div class="featured-price-box">
                      <span class="new-price">23.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Featured Product Area End Here -->
      <!-- Begin Featured Product Area -->
      <div class="col-lg-4">
        <div class="featured-product pt-sm-10 pt-xs-25">
          <div class="li-section-title">
            <h2>
              <span>Samsung</span>
            </h2>
          </div>
          <div class="featured-product-active-2 owl-carousel">
            <div class="featured-product-bundle">
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/4.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product-{{id}}">Điện thoại Samsung Galaxy S10+
                        (512GB)</a></h4>
                    <div class="featured-price-box">
                      <span class="new-price">20.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/5.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product-{{id}}">Điện thoại Samsung Galaxy A80</a>
                    </h4>
                    <div class="featured-price-box">
                      <span class="new-price">12.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/6.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product-{{id}}">Điện thoại Samsung Galaxy A20s
                        64GB</a></h4>
                    <div class="featured-price-box">
                      <span class="new-price">5.390.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Featured Product Area End Here -->
      <!-- Begin Featured Product Area -->
      <div class="col-lg-4">
        <div class="featured-product pt-sm-10 pt-xs-25">
          <div class="li-section-title">
            <h2>
              <span>OPPO</span>
            </h2>
          </div>
          <div class="featured-product-active-2 owl-carousel">
            <div class="featured-product-bundle">
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/7.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product.html">Điện thoại OPPO Reno 10x Zoom
                        Edition

                      </a></h4>
                    <div class="featured-price-box">
                      <span class="new-price">16.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/8.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product.html">Điện thoại OPPO Reno2</a></h4>
                    <div class="featured-price-box">
                      <span class="new-price">14.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="group-featured-pro-wrapper">
                  <div class="product-img">
                    <a href="product-details.html">
                      <img alt="" src="images/featured-product/9.jpg">
                    </a>
                  </div>
                  <div class="featured-pro-content">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">Smartphone</a>
                      </h5>
                    </div>
                    <div class="rating-box">
                      <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                        <li class="no-star"><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <h4><a class="featured-product-name" href="single-product.html">Điện thoại OPPO Reno</a></h4>
                    <div class="featured-price-box">
                      <span class="new-price">9.990.000₫</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Featured Product Area End Here -->
    </div>
  </div>
</div>
<!-- Group Featured Product Area End Here -->