<!-- Begin Li's Content Wraper Area -->
<div class="content-wraper pt-3 pb-60 pt-sm-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-1 order-lg-2">
        <!-- Begin Li's Banner Area -->
        <div class="single-banner shop-page-banner">
          <a href="#">
            <img src="/images/bg-banner/2.jpg" alt="Li's Static Banner">
          </a>
        </div>
        <!-- Li's Banner Area End Here -->
        <!-- shop-top-bar start -->
        <div class="shop-top-bar mt-30">
          <div class="shop-bar-inner">
            <div class="product-view-mode">
              <!-- shop-item-filter-list start -->
              <ul class="nav shop-item-filter-list" role="tablist">
                <li class="active" role="presentation"><a aria-selected="true" class="active show" data-toggle="tab"
                    role="tab" aria-controls="grid-view" href="#grid-view"><i class="fa fa-th"></i></a></li>
                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view"><i
                      class="fa fa-th-list"></i></a></li>
              </ul>
              <!-- shop-item-filter-list end -->
            </div>
            <div class="toolbar-amount">
              <span>Hiển thị kết quả từ {{startIndex}} đến {{endIndex}} trên {{totalItems}}</span>
            </div>
          </div>
          <!-- product-select-box start -->
          <div class="product-select-box">
            <div class="product-short">
              <p>Sắp xếp theo:</p>
              <select id="sort-products" class="nice-select">
                <option value="date-desc" selected="selected">Ngày ra mắt (Mới nhất)</option>
                <option value="name-asc">Tên (A &rarr; Z)</option>
                <option value="name-desc">Tên (Z &rarr; A)</option>
                <option value="price-asc">Giá (Thấp &rarr; Cao)</option>
                <option value="rating-desc">Đánh giá (Cao &rarr; Thấp)</option>
              </select>
            </div>
          </div>
          <!-- product-select-box end -->
        </div>
        <!-- shop-top-bar end -->
        <!-- shop-products-wrapper start -->
        <div class="shop-products-wrapper">
          <div class="tab-content">
            <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
              <div class="product-area shop-product-area">
                <div id="productFieldGrid" class="row">
                  {{#each allProducts}}
                  <div class="col-lg-4 col-md-4 col-sm-6 mt-40">
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                      <div class="product-image">
                        <a href="/products/{{path}}">
                          <img src="{{images.[0]}}" alt="Li's Product Image">
                        </a>
                        {{#if new}}
                        <span class="sticker">Mới</span>
                        {{/if}}
                      </div>
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="/products?brand={{brand}}">{{brand}}</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                {{#showRating rating}}
                                {{/showRating}}
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="/products/{{path}}">{{name}}</a></h4>
                          <div class="price-box">
                            <span class="new-price new-price-2">{{newPrice}}₫</span>
                            <span class="old-price">{{price}}₫</span>
                            <span class="discount-percentage">-{{promote}}%</span>
                          </div>
                        </div>
                        <div class="add-actions">
                          <ul class="add-actions-link">
                            <li class="add-cart active"><a href="#" data-target-path="{{path}}"
                                data-target-price="{{newPrice}}">Thêm vào giỏ</a></li>
                            <li><a class="links-details" href="/products/{{path}}"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                  class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- single-product-wrap end -->
                  </div>
                  {{/each}}
                  {{#unless allProducts}}
                  <div class="container">
                    <p class="pt-4 text-center">Không tìm thấy kết quả</p>
                  </div>
                  {{/unless}}
                </div>
              </div>
            </div>

            <div id="list-view" class="tab-pane fade product-list-view" role="tabpanel">
              <div class="row">
                <div id="productFieldList" class="col">
                  {{#each allProducts}}
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="/products/{{path}}">
                          <img src="{{images.[0]}}" alt="Li's Product Image">
                        </a>
                        {{#if new}}
                        <span class="sticker">Mới</span>
                        {{/if}}
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="/products?brand={{brand}}">{{brand}}</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                {{#showRating rating}}
                                {{/showRating}}
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="/products/{{path}}">{{name}}</a></h4>
                          <div class="price-box">
                            <span class="new-price">{{newPrice}}</span>
                          </div>
                          <p>{{description}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart active"><a href="#" data-target-path="{{path}}"
                              data-target-price="{{newPrice}}">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                  {{#unless allProducts}}
                  <div class="container">
                    <p class="pt-4 text-center">Không tìm thấy kết quả</p>
                  </div>
                  {{/unless}}
                </div>
              </div>
            </div>

            <!-- Pagination area -->
            <div id="products-pagination" class="paginatoin-area mt-100">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <p>Hiển thị kết quả từ {{startIndex}} đến {{endIndex}} trên {{totalItems}}</p>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="pagination-box">
                    <div class="paginationjs">
                      <div class="paginationjs-pages">
                        <ul>
                          {{#pagination pageCount currentPage pageRange path}}
                          {{/pagination}}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Pagination area -->
          </div>
        </div>
        <!-- shop-products-wrapper end -->
      </div>
      <div class="col-lg-3 order-2 order-lg-1">
        <!--sidebar-categores-box start  -->
        <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
          <div class="sidebar-title">
            <h2>Danh sách</h2>
          </div>
          <!-- category-sub-menu start -->
          <div class="category-sub-menu">
            <ul>
              <li class="has-sub"><a href="# ">Thiết bị điện tử</a>
                <ul>
                  <li><a href="#">Điện thoại di động</a></li>
                  <li><a href="#">Máy tính bảng</a></li>
                  <li><a href="#">Laptop</a></li>
                  <li><a href="#">Máy tính để bàn</a></li>
                  <li><a href="#">Âm thanh</a></li>
                  <li><a href="#">Camera giám sát</a></li>
                  <li><a href="#">Máy ảnh kỹ thuật số</a></li>
                  <li><a href="#">Máy quay phim</a></li>
                  <li><a href="#">Màn hình máy tính</a></li>
                  <li><a href="#">Máy in</a></li>
                  <li><a href="#">Đồng hồ thông minh</a></li>
                  <li><a href="#">Máy chơi game</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#">Phụ kiện điện tử</a>
                <ul>
                  <li><a href="#">Phụ kiện di động</a></li>
                  <li><a href="#">Thiết bị thông minh</a></li>
                  <li><a href="#">Thiết bị số</a></li>
                  <li><a href="#">Phụ kiện máy ảnh</a></li>
                  <li><a href="#">Thiết bị lưu trữ</a></li>
                  <li><a href="#">Phụ kiện máy tính</a></li>
                  <li><a href="#">Linh kiện máy tính</a></li>
                  <li><a href="#">Phụ kiện ống kính</a></li>
                  <li><a href="#">Thiết bị mạng</a></li>
                  <li><a href="#">Phụ kiện máy chơi game</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#">TV &amp; thiết bị gia dụng</a>
                <ul>
                  <li><a href="#">TV thông minh</a></li>
                  <li><a href="#">TV kỹ thuật số</a></li>
                  <li><a href="#">Thiết bị điện</a></li>
                  <li><a href="#">Thiết bị gia dụng nhỏ</a></li>
                  <li><a href="#">Thiết bị gia dụng lớn</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- category-sub-menu end -->
        </div>
        <!--sidebar-categores-box end  -->
        <!--sidebar-categores-box start  -->
        <div class="sidebar-categores-box">
          <div class="sidebar-title">
            <h2>Bộ Lọc</h2>
          </div>
          <!-- btn-clear-all start -->
          <div class="label-filter-wrap">
          </div>
          <!-- btn-clear-all end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Thương hiệu</h5>
            <div class="categori-checkbox">
              <form id="brand-form">
                <ul>
                  <li>
                    <input id="apple" class="brand" type="checkbox" name="brand" value="Apple">
                    <label for="apple">Apple ({{appleNumber}})</label>
                  </li>
                  <li>
                    <input id="samsung" class="brand" type="checkbox" name="brand" value="Samsung">
                    <label for="samsung">Samsung ({{samsungNumber}})</label>
                  </li>
                  <li>
                    <input id="asus" class="brand" type="checkbox" name="brand" value="Asus">
                    <label for="asus">Asus ({{asusNumber}})</label>
                  </li>
                  <li>
                    <input id="nokia" class="brand" type="checkbox" name="brand" value="Nokia">
                    <label for="nokia">Nokia ({{nokiaNumber}})</label>
                  </li>
                  <li>
                    <input id="huawei" class="brand" type="checkbox" name="brand" value="Huawei">
                    <label for="huawei">Huawei ({{huaweiNumber}})</label>
                  </li>
                  <li>
                    <input id="oppo" class="brand" type="checkbox" name="brand" value="OPPO">
                    <label for="oppo">OPPO ({{oppoNumber}})</label>
                  </li>
                  <li>
                    <input id="sony" class="brand" type="checkbox" name="brand" value="Sony">
                    <label for="sony">Sony ({{sonyNumber}})</label>
                  </li>
                  <li>
                    <input id="lenovo" class="brand" type="checkbox" name="brand" value="Lenovo">
                    <label for="lenovo">Lenovo ({{lenovoNumber}})</label>
                  </li>
                  <li>
                    <input id="xiaomi" class="brand" type="checkbox" name="brand" value="Xiaomi">
                    <label for="xiaomi">Xiaomi ({{xiaomiNumber}})</label>
                  </li>
                  <li>
                    <input id="realme" class="brand" type="checkbox" name="brand" value="Realme">
                    <label for="realme">Realme ({{realmeNumber}})</label>
                  </li>
                  <li>
                    <input id="blackberry" class="brand" type="checkbox" name="brand" value="BlackBerry">
                    <label for="blackberry">BlackBerry ({{blackberryNumber}})</label>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Giá</h5>
            <div class="categori-checkbox">
              <form id="price-form">
                <ul>
                  <li>
                    <input id="lt2" class="price" type="checkbox" name="price" value="Dưới 2 triệu">
                    <label for="lt2">Dưới 2 triệu</label>
                  </li>
                  <li>
                    <input id="f2t4" class="price" type="checkbox" name="price" value="Từ 2 - 4 triệu">
                    <label for="f2t4">Từ 2 - 4 triệu</label>
                  </li>
                  <li>
                    <input id="f4t7" class="price" type="checkbox" name="price" value="Từ 4 - 7 triệu">
                    <label for="f4t7">Từ 4 - 7 triệu</label>
                  </li>
                  <li>
                    <input id="f7t13" class="price" type="checkbox" name="price" value="Từ 7 - 13 triệu">
                    <label for="f7t13">Từ 7 - 13 triệu</label>
                  </li>
                  <li>
                    <input id="gt13" class="price" type="checkbox" name="price" value="Trên 13 triệu">
                    <label for="gt13">Trên 13 triệu</label>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
        </div>
        <!--sidebar-categores-box end  -->
      </div>
    </div>
  </div>
</div>
<!-- Content Wraper Area End Here -->