<!-- Begin Li's Content Wraper Area -->
<div class="content-wraper pt-60 pb-60 pt-sm-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-1 order-lg-2">
        <!-- Begin Li's Banner Area -->
        <div class="single-banner shop-page-banner">
          <a href="#">
            <img src="images/bg-banner/2.jpg" alt="Li's Static Banner">
          </a>
        </div>
        <!-- Li's Banner Area End Here -->
        <!-- shop-top-bar start -->
        <div class="shop-top-bar mt-30">
          <div class="shop-bar-inner">
            <div class="product-view-mode">
              <!-- shop-item-filter-list start -->
              <ul class="nav shop-item-filter-list" role="tablist">
                <li class="active" role="presentation"><a aria-selected="true" class="active show" data-toggle="tab"
                    role="tab" aria-controls="grid-view" href="#grid-view"><i class="fa fa-th"></i></a></li>
                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view"><i
                      class="fa fa-th-list"></i></a></li>
              </ul>
              <!-- shop-item-filter-list end -->
            </div>
            <div class="toolbar-amount">
              <span>Hiển thị kết quả từ 1 đến 12 trên 15</span>
            </div>
          </div>
          <!-- product-select-box start -->
          <div class="product-select-box">
            <div class="product-short">
              <p>Sắp xếp theo:</p>
              <select class="nice-select">
                <option value="trending">Liên quan</option>
                <option value="sales">Tên (A - Z)</option>
                <option value="sales">Tên (Z - A)</option>
                <option value="rating">Giá (Thấp &gt; Cao)</option>
                <option value="date">Đánh giá (Thấp nhất)</option>
                <option value="price-asc">Mẫu (A - Z)</option>
                <option value="price-asc">Mẫu (Z - A)</option>
              </select>
            </div>
          </div>
          <!-- product-select-box end -->
        </div>
        <!-- shop-top-bar end -->
        <!-- shop-products-wrapper start -->
        <div class="shop-products-wrapper">
          <div class="tab-content">
            <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
              <div class="product-area shop-product-area">
                <div class="row">
                  {{#each allProducts}}
                  <div class="col-lg-4 col-md-4 col-sm-6 mt-40">
                    <!-- single-product-wrap start -->
                    <div class="single-product-wrap">
                      <div class="product-image">
                        <a href="single-product-{{id}}">
                          <img src="images/product/large-size/{{images}}" alt="Li's Product Image">
                        </a>
                        {{#if new}}
                        <span class="sticker">Mới</span>
                        {{/if}}
                      </div>
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">{{brand}}</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li class="{{rating.[0]}}"><i class="fa fa-star-o"></i></li>
                                <li class="{{rating.[1]}}"><i class="fa fa-star-o"></i></li>
                                <li class="{{rating.[2]}}"><i class="fa fa-star-o"></i></li>
                                <li class="{{rating.[3]}}"><i class="fa fa-star-o"></i></li>
                                <li class="{{rating.[4]}}"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product-{{id}}">{{name}}</a></h4>
                          <div class="price-box">
                            <span class="new-price new-price-2">{{newPrice}}₫</span>
                            <span class="old-price">{{price}}₫</span>
                            <span class="discount-percentage">-{{promote}}%</span>
                          </div>
                        </div>
                        <div class="add-actions">
                          <ul class="add-actions-link">
                            <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                            <li><a class="links-details" href="single-product-{{id}}"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                  class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- single-product-wrap end -->
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div id="list-view" class="tab-pane fade product-list-view" role="tabpanel">
              <div class="row">
                <div class="col">
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/20.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Smartphone</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Điện thoại Nokia 6.1 Plus - Hàng Chính
                              Hãng</a></h4>
                          <div class="price-box">
                            <span class="new-price">3.390.000₫</span>
                          </div>
                          <p>Điện thoại Nokia 6.1 Plus được lột xác khi sử dụng kết hợp giữa khung kim loại và kính cao
                            cấp đã tạo nên một dáng vẻ sang trọng và đem đến tính thẩm mỹ cũng như sự trẻ trung, năng
                            động. Các viền góc của Nokia 6.1 Plus được bo tròn vô cùng tỉ mỉ, tạo cảm giác vừa chắc chắn
                            vừa nhẹ nhàng khi cầm nắm.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/11.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Smartwatch</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Đồng hồ định vị SmartKID GPS -HW11 cao
                              cấp</a></h4>
                          <div class="price-box">
                            <span class="new-price">1.800.000₫</span>
                          </div>
                          <p>Đồng Hồ Thông Minh Smart Watch được thế kế bởi màn hình cảm ứng điện dung, có độ nhạy cao.
                            Kích thước 1.55 inch phù hợp với tầm nhìn, độ phân giải màu sắc 240 x 240 meagpixel. Khung
                            viền được gia cố rất kĩ bằng thép không gỉ, dây đeo bằng silicon vừa dẻo dai, vừa bền. Tạo
                            cảm giác yên tâm thỏa mái khi đeo đồng hồ trên tay.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/10.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Smartphone</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Điện Thoại Xiaomi Mi 8 Lite (4GB /
                              64GB) -
                              Hàng Chính Hãng</a></h4>
                          <div class="price-box">
                            <span class="new-price">3.790.000₫</span>
                          </div>
                          <p>Tương tự như các mẫu Redmi Note trước đó, Xiaomi Redmi Note 8 được làm từ khung kim loại,
                            kết hợp với mặt kính cường lực Gorilla Glass ở cả mặt trước và sau mang đến sự bền bỉ nhất
                            định.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/9.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Smartphone</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Điện Thoại iPhone 6s Plus 32GB VN/A -
                              Hàng
                              Chính Hãng</a></h4>
                          <div class="price-box">
                            <span class="new-price">8.249.000₫</span>
                          </div>
                          <p>iPhone 6s Plus 32GB có thiết kế nguyên khối, vỏ ngoài từ kim loại bền bỉ với độ mỏng chỉ
                            7.3 mm, bạn có thể dễ dàng mang theo máy bên mình khi di chuyển và sử dụng mọi lúc mọi nơi.
                            Điện thoại có 4 màu: Vàng Hồng, Vàng Đồng, Bạc và Xám, mỗi phiên bản màu sắc đều mang đến sự
                            sang trọng và thể hiện cá tính cho người dùng.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/8.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Máy tính bảng</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">iPad Pro 9.7 inch Wifi 32GB - Nhập Khẩu
                              Chính
                              Hãng (CPO)</a></h4>
                          <div class="price-box">
                            <span class="new-price">8.490.000₫</span>
                          </div>
                          <p>iPad Pro 9.7 inch Wifi 32GB là thiết bị đầu tiên của Apple hỗ trợ công nghệ True Tone
                            Display độc quyền. Công nghệ này có 4 cảm biến nhận diện ánh sáng môi trường xung quanh sau
                            đó tự động điều chỉnh ánh sáng và độ sáng màn hình sao cho phù hợp nhất với mắt người dùng.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/7.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Tai nghe</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Tai Nghe Bluetooth Không Dây True
                              Wireless
                              Xiaomi Haylou GT1 Bluetooth 5.0 - Hàng Chính Hãng</a></h4>
                          <div class="price-box">
                            <span class="new-price">389.000₫</span>
                          </div>
                          <p>Tai Nghe Bluetooth Không Dây Xiaomi Haylou GT1 là hãng con được cấp vốn bởi Xiaomi
                            Tai Nghe Bluetooth Không Dây Xiaomi Haylou GT1 được trang bị công nghệ không dây bluetooth
                            5.0 cho khoảng cách kết nối tối đa 10 mét.
                            Điều khiển cảm ứng giúp sử dụng dễ dàng và thuận tiện hơn</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/1.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">TV &amp; Thiết Bị Gia Dụng</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Smart Tivi Samsung 55 inch 4K UHD
                              L55P65-UF -
                              Hàng Chính Hãng</a></h4>
                          <div class="price-box">
                            <span class="new-price">9.290.000₫</span>
                          </div>
                          <p>Smart Tivi TCL 55 inch 4K UHD L55P65-UF sở hữu thiết kế mỏng, gọn gàng cùng tông màu đen
                            sang trọng. Chân đế hình chữ V cứng cáp, hài hòa với tổng thể thiết kế máy, giúp giữ tivi
                            đứng vững trên nhiều bề phẳng khác nhau. </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/2.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Thiết Bị Điện Tử</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Camera IP Mi Home 360 Độ 1080P Xiaomi
                              QDJ4041GL Trắng</a></h4>
                          <div class="price-box">
                            <span class="new-price">806.000₫</span>
                          </div>
                          <p>Camera IP Xiaomi MJSXJ02CM Mi Home Security Camera 360 Độ 1080p là dòng camera IP hồng
                            ngoại được thiết kế hình dạng tròn tinh tế, hiện đại thuận tiện quan sát toàn cảnh 360 độ.
                            Mắt đọc camera được làm đồng màu với nền giúp camera ẩn mình hơn khi giám sát, màn trập
                            riêng tư được thiết kế chu đáo cho phép bạn tắt ống kính bất cứ khi nào bạn cần.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/3.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Máy Chơi Game</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Tay Cầm Chơi Game PC Đầu USB Có Rung,
                              Joystick - Hàng Nhập Khẩu</a></h4>
                          <div class="price-box">
                            <span class="new-price">500.000₫</span>
                          </div>
                          <p>Tay Cầm Chơi Game PC Đầu USB Có Rung, Joystick dùng tốt cho hầu hết các loại game trên PC.
                            Máy có 12 phím chức năng và điều khiển.
                            Được thiết kế bằng nhựa và cao su mềm; điều khiển nhẹ nhàng.
                            Đặc biệt là hệ thống rung khi có tương tác trong game.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/4.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Màn Hình Máy Tính</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Màn Hình Gaming LG 24MP59G-P 24inch
                              FullHD
                              5ms 75Hz FreeSync IPS - Hàng Chính Hãng</a></h4>
                          <div class="price-box">
                            <span class="new-price">2.969.000₫</span>
                          </div>
                          <p>Màn Hình Gaming LG 24MP59G-P 24inch FullHD 5ms 75Hz FreeSync IPS được thiết kế nhằm mang
                            đến cho người dùng những trải nghiệm thú vị với thế giới trò chơi sống động như thật. Màn
                            hình không chỉ chắc chắn mà còn được thiết kế chân đế chữ V độc đáo, tạo nên điểm nhấn cuốn
                            hút cho không gian làm việc và giải trí của người dùng.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/5.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Thiết Bị Gia Dụng</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Ấm pha cà phê Hario Kasuya, kim loại
                              chống gỉ
                              - Hàng nhập khẩu Nhật Bản</a></h4>
                          <div class="price-box">
                            <span class="new-price">1.221.000₫</span>
                          </div>
                          <p>Một lần nữa, Hario lại kết hợp cùng nhà vô địch thế giới của World Brewers Cup - Tetsu
                            Kasuya để cho ra đời sản phẩm Ấm pha cà phê Kasuya - Mini Drip Kettel Kasuya. Chiếc ấm "nhỏ
                            nhưng có võ" này tự tin sẽ là trợ thủ đắc lực cho các Barista có thể pha chế nên một tách cà
                            phê ngon chuẩn vị mà lại vô cùng giản đơn.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row product-layout-list last-child">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="images/product/large-size/6.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">Mới</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">Tai Nghe</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">Tai Nghe Chụp Tai Sennheiser PC 7 USB,
                              chơi
                              âm thanh lossless - Hàng Chính Hãng</a></h4>
                          <div class="price-box">
                            <span class="new-price">829.000₫</span>
                          </div>
                          <p>Sennheiser PC 7 USB tích hợp microphone, sử dụng cổng USB cho âm thanh trung thực đến ngạc
                            nhiên khi nghe nhạc, xem phim, chơi game và voice chat. Với kiểu dáng đẹp mắt có khả năng
                            giảm thiểu tiếng ồn, màng loa đơn cung cấp chất lượng âm thanh rõ nét, Microphone ấm và Bass
                            mạnh mẽ khi âm lượng ở mức độ cao, Sennheiser PC 7 USB là lựa chọn lý tưởng cho người thích
                            nghe nhạc hiphop hay dòng âm nhạc điện tử với âm bass cao.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">Thêm vào giỏ</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Yêu thích</a>
                          </li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                                class="fa fa-eye"></i>Xem nhanh</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="paginatoin-area">
              <div class="row">
                <div class="col-lg-6 col-md-6 pt-xs-15">
                  <p>Hiển thị kết quả từ 1 đến 12 trên 15</p>
                </div>
                <div class="col-lg-6 col-md-6">
                  <ul class="pagination-box pt-xs-20 pb-xs-15">
                    <li><a href="#" class="Previous"><i class="fa fa-chevron-left"></i> Trước</a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                      <a href="#" class="Next"> Kế tiếp <i class="fa fa-chevron-right"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- shop-products-wrapper end -->
      </div>
      <div class="col-lg-3 order-2 order-lg-1">
        <!--sidebar-categores-box start  -->
        <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
          <div class="sidebar-title">
            <h2>Danh sách</h2>
          </div>
          <!-- category-sub-menu start -->
          <div class="category-sub-menu">
            <ul>
              <li class="has-sub"><a href="# ">Thiết bị điện tử</a>
                <ul>
                  <li><a href="#">Điện thoại di động</a></li>
                  <li><a href="#">Máy tính bảng</a></li>
                  <li><a href="#">Laptop</a></li>
                  <li><a href="#">Máy tính để bàn</a></li>
                  <li><a href="#">Âm thanh</a></li>
                  <li><a href="#">Camera giám sát</a></li>
                  <li><a href="#">Máy ảnh kỹ thuật số</a></li>
                  <li><a href="#">Máy quay phim</a></li>
                  <li><a href="#">Màn hình máy tính</a></li>
                  <li><a href="#">Máy in</a></li>
                  <li><a href="#">Đồng hồ thông minh</a></li>
                  <li><a href="#">Máy chơi game</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#">Phụ kiện điện tử</a>
                <ul>
                  <li><a href="#">Phụ kiện di động</a></li>
                  <li><a href="#">Thiết bị thông minh</a></li>
                  <li><a href="#">Thiết bị số</a></li>
                  <li><a href="#">Phụ kiện máy ảnh</a></li>
                  <li><a href="#">Thiết bị lưu trữ</a></li>
                  <li><a href="#">Phụ kiện máy tính</a></li>
                  <li><a href="#">Linh kiện máy tính</a></li>
                  <li><a href="#">Phụ kiện ống kính</a></li>
                  <li><a href="#">Thiết bị mạng</a></li>
                  <li><a href="#">Phụ kiện máy chơi game</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#">TV &amp; thiết bị gia dụng</a>
                <ul>
                  <li><a href="#">TV thông minh</a></li>
                  <li><a href="#">TV kỹ thuật số</a></li>
                  <li><a href="#">Thiết bị điện</a></li>
                  <li><a href="#">Thiết bị gia dụng nhỏ</a></li>
                  <li><a href="#">Thiết bị gia dụng lớn</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- category-sub-menu end -->
        </div>
        <!--sidebar-categores-box end  -->
        <!--sidebar-categores-box start  -->
        <div class="sidebar-categores-box">
          <div class="sidebar-title">
            <h2>Bộ Lọc</h2>
          </div>
          <!-- btn-clear-all start -->
          <button class="btn-clear-all mb-sm-30 mb-xs-30">Xóa tất cả</button>
          <!-- btn-clear-all end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Thương hiệu</h5>
            <div class="categori-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-categori"><a href="#">Apple (124)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Samsung (452)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">ASUS (589)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Nokia (239)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Huawei (3239)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Sony (1320)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Lenovo (310)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Alienware (210)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Acer (5410)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Blackberry (130)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">NVIDIA (50)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Loại</h5>
            <div class="categori-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-categori"><a href="#">Đồ Họa (106)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Gaming (562)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Dựng phim (635)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Di động (135)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Lập trình (122)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">Văn phòng (1022)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Kích cỡ</h5>
            <div class="size-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                  <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                  <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                  <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Màu sắc</h5>
            <div class="color-categoriy">
              <form action="#">
                <ul>
                  <li><span class="white"></span><a href="#">Trắng (1)</a></li>
                  <li><span class="black"></span><a href="#">Đen (1)</a></li>
                  <li><span class="Orange"></span><a href="#">Cam (3) </a></li>
                  <li><span class="Blue"></span><a href="#">Xanh (2) </a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
            <h5 class="filter-sub-titel">Kích thước</h5>
            <div class="categori-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
        </div>
        <!--sidebar-categores-box end  -->
        <!-- category-sub-menu start -->
        <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
          <div class="sidebar-title">
            <h2>Laptop</h2>
          </div>
          <div class="category-tags">
            <ul>
              <li><a href="# ">NVIDIA</a></li>
              <li><a href="# ">Máy ảnh</a></li>
              <li><a href="# ">Sony</a></li>
              <li><a href="# ">Gaming</a></li>
              <li><a href="# ">Xanh</a></li>
              <li><a href="# ">Di động</a></li>
            </ul>
          </div>
          <!-- category-sub-menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Wraper Area End Here -->