<!-- content-wraper start -->
<div class="content-wraper">
  <div class="container">
    <div class="row single-product-area">
      <div class="col-lg-5 col-md-6">
        <!-- Product Details Left -->
        <div class="product-details-left">
          <div class="product-details-images slider-navigation-1">
            <div class="lg-image">
              <a class="popup-img venobox vbox-item" href="images/product/large-size/{{productDetails.images}}"
                data-gall="myGallery">
                <img src="images/product/large-size/{{productDetails.images}}" alt="product image">
              </a>
            </div>
            <div class="lg-image">
              <a class="popup-img venobox vbox-item" href="images/product/large-size/{{productDetails.images}}"
                data-gall="myGallery">
                <img src="images/product/large-size/{{productDetails.images}}" alt="product image">
              </a>
            </div>
          </div>
          <div class="product-details-thumbs slider-thumbs-1">
            <div class="sm-image"><img src="images/product/large-size/{{productDetails.images}}"
                alt="product image thumb"></div>
            <div class="sm-image"><img src="images/product/large-size/{{productDetails.images}}"
                alt="product image thumb"></div>
            <div class="sm-image"><img src="images/product/large-size/{{productDetails.images}}"
                alt="product image thumb"></div>
            <div class="sm-image"><img src="images/product/large-size/{{productDetails.images}}"
                alt="product image thumb"></div>
            <div class="sm-image"><img src="images/product/large-size/{{productDetails.images}}"
                alt="product image thumb"></div>
            <div class="sm-image"><img src="images/product/large-size/{{productDetails.images}}"
                alt="product image thumb"></div>
          </div>
        </div>
        <!--// Product Details Left -->
      </div>

      <div class="col-lg-7 col-md-6">
        <div class="product-details-view-content pt-60">
          <div class="product-info">
            <h2>{{productDetails.name}}</h2>
            <span class="product-details-ref">Thương hiệu: {{productDetails.brand}}</span>
            <div class="rating-box pt-20">
              <ul class="rating rating-with-review-item">
                <li class="{{productDetails.rating.[0]}}"><i class="fa fa-star-o"></i></li>
                <li class="{{productDetails.rating.[1]}}"><i class="fa fa-star-o"></i></li>
                <li class="{{productDetails.rating.[2]}}"><i class="fa fa-star-o"></i></li>
                <li class="{{productDetails.rating.[3]}}"><i class="fa fa-star-o"></i></li>
                <li class="{{productDetails.rating.[4]}}"><i class="fa fa-star-o"></i></li>
                <li class="review-item"><a href="#">Xem đánh giá sản phẩm</a></li>
                <li class="review-item"><a href="#">Viết đánh giá sản phẩm</a></li>
              </ul>
            </div>
            <div class="price-box pt-20">
              <p class="new-price new-price-2">{{productDetails.newPrice}}₫</p>
              <p>Giá thị trường: <span class="old-price">{{productDetails.price}}₫</span></p>
              <p>Tiết kiệm đến: <span class="discount-percentage">{{productDetails.promote}}%</span></p>
            </div>
            <div class="product-desc">
              {{!-- <ul>
                <li>Chip: 2.6GHz 6-core 9th-generation Intel Core i7 processor (I9-9750H, Turbo 4.5GHz, Cache 12MB)</li>
                <li>RAM: 16GB 2400MHz DDR4 memory</li>
                <li>Ổ cứng: 256GB SSD storage</li>
                <li>Chipset đồ hoạ: Radeon Pro 555X with 4GB DDR5 memory + Intel UHD Graphics 630</li>
                <li>Màn hình: 15.4 inch Retina Display with True Tone (2880 x 1800)</li>
                <li>Hệ điều hành: Preinstalled macOS Mojave</li>
              </ul> --}}
              <p>{{productDetails.description}}</p>
            </div>
            <div class="single-add-to-cart">
              <form action="#" class="cart-quantity">
                <div class="quantity">
                  <label>Số lượng</label>
                  <div class="cart-plus-minus">
                    <input class="cart-plus-minus-box" value="1" type="text">
                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                  </div>
                </div>
                <button class="add-to-cart" type="submit">Thêm vào giỏ hàng</button>
              </form>
            </div>
            <div class="product-additional-info pt-25">
              <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i>Thêm vào danh sách yêu thích</a>
              <div class="product-social-sharing pt-25">
                <ul>
                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                  <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                </ul>
              </div>
            </div>
            <div class="block-reassurance">
              <ul>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-check-square-o"></i>
                    </div>
                    <p>Chính sách bảo mật</p>
                  </div>
                </li>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-truck"></i>
                    </div>
                    <p>Chính sách giao hàng</p>
                  </div>
                </li>
                <li>
                  <div class="reassurance-item">
                    <div class="reassurance-icon">
                      <i class="fa fa-exchange"></i>
                    </div>
                    <p>Chính sách hoàn trả</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="li-product-tab">
          <ul class="nav li-product-menu">
            <li><a class="active" data-toggle="tab" href="#description"><span>Mô tả</span></a></li>
            <li><a data-toggle="tab" href="#product-details"><span>Chi tiết sản phẩm</span></a></li>
            <li><a data-toggle="tab" href="#reviews"><span>Đánh giá</span></a></li>
          </ul>
        </div>
        <!-- Begin Li's Tab Menu Content Area -->
      </div>
    </div>
    <div class="tab-content">
      <div id="description" class="tab-pane active show" role="tabpanel">
        <div class="product-description">
          <div class="product-content-detail">
            {{!-- <div id="gioi-thieu" class="content js-content expand" itemprop="description" style="max-height: none;">
              <h5>Thiết kế cao cấp, sang trọng</h5>
              <p><strong>Apple Macbook Pro Touch Bar 2019 - 15 inchs (i7/ 16GB/ 256GB)</strong> được thiết kế sang
                trọng, tinh tế với khung làm bằng hợp kim nhôm đảm bảo được toàn bộ kiến trúc của máy có một trọng lượng
                mỏng và nhẹ chỉ 1.83kg, giúp bạn dễ dàng mang theo, bỏ trong balo hoặc túi xách một cách thuận tiện.</p>
              <p>
                <img class="d-block mx-auto" class="d-block mx-auto" alt="" width="748" height="392"
                  src="https://salt.tikicdn.com/ts/tmp/4b/80/b1/ec95560b24f0bddd7aa46df6e3c5f5ef.jpg"
                  style="display: block;"></p>
              <h5>Chip Intel Core I7 thế hệ 9 6 nhân 12 luồng</h5>
              <p>Macbook Pro Touch Bar 2019 15 inchs sử dụng chip Intel Core I7 thế hệ 9 có 6 nhân 12 luồng I7-9750U với
                xung nhịp cơ bản 2.6GHz, có thể chạy TurboBoost lên đến tốc độ 4.5GHz và bộ nhớ đệm 12MB SmartCache. Khi
                cần thiết, người dùng cũng có thể tùy chọn nâng cấp CPU trên Macbook Pro 2019 15 inch lên chip Intel
                Core I9 thế hệ 9 có 8 nhân 16 luồng I9-9980HK với xung nhịp cơ bản 2.4GHz, có thể chạy TurboBoost lên
                đến tốc độ 5.0GHz và bộ nhớ đệm 16MB SmartCache. Ngoài ra, Macbook Pro 2019 15 inchs sử dụng ram DDR4 có
                tốc độ bus 2400MHz.</p>
              <p><strong>Chú ý:</strong>&nbsp;Việc nâng cấp này chỉ được thực hiện tại nhà máy của Apple. Chiếc máy sau
                khi xuất xưởng không thể được nâng cấp vì CPU được hàn trên board mạch của Macbook Pro 2019.</p>
              <h5>Tích hợp 2 card đồ họa</h5>
              <p>Chiếc Macbook Pro 2019 15 inchs này được trang bị 2 card đồ họa:</p>
              <ul>
                <li>Intel UHD Graphics 630 (card tích hợp)</li>
                <li>AMD Radeon Pro 555X with 4GB GPDDR5 memory (card rời)</li>
              </ul>
              <p>Trong các tác vụ nhẹ, thì hệ thống sử dụng card tích hợp UHD Graphic 630 để tiết kiệm năng lượng (pin)
                cho máy. Khi xử lý các tác vụ nặng thì như xuất thêm màn hình ngoài 4K, render phim… hệ thống tự động
                chuyển sang card đồ hoạ rời để tác vụ được xử lý nhanh hơn. Đây là dòng card đồ họa đã được sử dụng trên
                Macbook Pro 2018 15 inch Touch Bar tầm thấp, bản có SSD 256GB. Muốn nâng cao chất lượng cho card đồ họa
                người đùng có thể mua thêm eGPU, gắn vào Macbook Pro 2019 thông qua cổng kết nối Thunderbolt 3.</p>
              <h5>Ổ cứng SSD siêu nhanh</h5>
              <p>SSD trên Macbook Pro 2019 có tốc độ đọc trình tự và ghi trình tự lần lược là 3.2GBps và 2.2GBps. Giống
                hệt tốc độ SSD trên Macbook Pro 2018, đây được xem là tốc độ đọc ghi tốt nhất trên thị trường hiện nay.
                SSD trên Macbook Pro 2019 được hàn chết trên board mạch chủ, nên không nâng cấp/thay thế sau khi máy đã
                xuất xưởng.</p>
              <h5>Chip bảo mật T2</h5>
              <p>Macbook Pro Touch Bar 2019 còn được Apple tích hợp chip bảo mật T2 lên máy, giúp:</p>
              <ul>
                <li>Đảm nhận việc mã hóa và giải nén, giảm tải cho CPU.</li>
                <li>Quản lý Touch ID tốt và chính xác hơn.</li>
                <li>Giám sát chống việc tháo lắp các linh kiện trong chiếc Macbook bởi bên thứ 3</li>
                <li>Phụ trách tính năng Hey Siri trên Macbook Pro 2019</li>
                <li>Chống nghe lén bằng việc can thiệp vào microphone của chiếc Macbook</li>
              </ul>
              <h5>Màn hình Retina với công nghệ True Tone</h5>
              <p><strong>True Tone</strong> là công nghệ thay đổi màu sắc theo môi trường đã từng xuất hiện trên iPad,
                iPhone, giúp cho người dùng có thể sử dụng máy trong thời gian dài mà không bị mỏi mắt. Nay công nghệ
                này đã được Apple mang lên trên các dòng MacBook Pro đời mới có toucbar. (Dòng non-touchbar chưa hỗ trợ
                công nghệ True Tone này)</p>
              <p><img class="d-block mx-auto" alt="" width="748" height="540"
                  src="https://salt.tikicdn.com/ts/tmp/d7/07/1f/311d7f92057ccb42dd676f2c80a81b59.jpg"
                  style="display: block;"></p>
              <p>MacBook Pro 2019 của Apple vẫn giữ độ phân giải Retina 2880×1800 pixel cho model 15 inch. Độ sáng màn
                hình vẫn giữ mức 500 nit, đây là độ sáng trung tính, không quá cao cũng không quá thấp. Dải màu phủ 100%
                sRGB và 90% dải màu AdobeRGB giống hệt như trên dòng Pro 2017.</p>
              <h5>Bàn phím cánh bướm thế hệ 4</h5>
              <p>Macbook Pro 2019 được trang bị bàn phím cánh bướm thế hệ 4. Apple cho rằng bàn phím cánh bướm thế hệ 4
                giảm triệt để các vấn đề xảy ra với bàn các bàn phím cánh bướm thế hệ trước đó.</p>
              <p><img class="d-block mx-auto" alt="" width="747" height="422"
                  src="https://salt.tikicdn.com/ts/tmp/9b/27/3b/4891db59f30d41b75c715d99ec50ff46.jpg"></p>
              <p><img class="d-block mx-auto" alt="" width="748" height="273"
                  src="https://salt.tikicdn.com/ts/tmp/05/82/4e/6abdd6cc466b801d01ad8c3959934a5f.jpg"></p>
              <h5>Kết nối cao cấp</h5>
              <p>Vẫn là 4 Cổng USB-C và 1 jack 3.5mm cho các kết nối bên ngoài. Cổng Thunderbolt 3 là giao tiếp kết nối
                cao cấp cho phép sử dụng với nhiều mục đích khách nhau. Có thể dùng cho việc truyền trải dữ liệu tốc độ
                cao (lên đến 40 Gbps), xuất hình ảnh, âm thanh và có thể dùng cho việc sạc sạc pin.</p>
              <p><img class="d-block mx-auto" alt="" width=" 748" height="280"
                  src="https://salt.tikicdn.com/ts/tmp/4f/64/c2/f8b1f702d8513c4702880709130ce8aa.jpg"></p>
            </div> --}}
            <p class="h3">{{productDetails.description}}</p>
          </div>
        </div>
      </div>
      <div id="product-details" class="tab-pane" role="tabpanel">
        <div class="product-details-manufacturer">
          <div class="white-panel">
            <div class="attribute-table multi-table"></div>
            <table id="chi-tiet" cellspacing="0" class="table table-bordered table-detail table-striped">
              <colgroup>
                <col style="width: 25%;">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td rel="brand">Thương hiệu</td>
                  <td class="last">
                    <a href="#">Apple</a>

                  </td>
                </tr>
                <tr>
                  <td rel="dimensions">Kích thước</td>
                  <td class="last">
                    <p>1.55 x 34.93 x 24.07 cm</p>
                  </td>
                </tr>
                <tr>
                  <td rel="sku">SKU</td>
                  <td class="last">
                    2040898415249
                  </td>
                </tr>
                <tr>
                  <td rel="product_weight">Trọng lượng</td>
                  <td class="last">
                    1.83 kg
                  </td>
                </tr>
                <tr>
                  <td rel="cpu">Loại lõi chip</td>
                  <td class="last">
                    Intel Core i7
                  </td>
                </tr>
                <tr>
                  <td rel="cpu_speed">Tốc độ chip (GHz)</td>
                  <td class="last">
                    Turbo Boost up to 4.5GHz
                  </td>
                </tr>
                <tr>
                  <td rel="chip_set">Tên chip</td>
                  <td class="last">
                    2.6GHz six-core Intel Core i7
                  </td>
                </tr>
                <tr>
                  <td rel="system_requirements">Hệ điều hành</td>
                  <td class="last">
                    Preinstalled macOS Mojave
                  </td>
                </tr>
                <tr>
                  <td rel="display_type">Loại / Công nghệ màn hình</td>
                  <td class="last">
                    Retina Display with True Tone
                  </td>
                </tr>
                <tr>
                  <td rel="card_mang_hinh">Card đồ họa</td>
                  <td class="last">
                    Radeon Pro 555X with 4GB DDR5 memory + Intel UHD Graphics 630
                  </td>
                </tr>
                <tr>
                  <td rel="thiet_ke_card">Thiết kế card</td>
                  <td class="last">
                    Tích hợp
                  </td>
                </tr>
                <tr>
                  <td rel="dung_luong_dientu">Dung lượng ổ cứng</td>
                  <td class="last">
                    256GB
                  </td>
                </tr>
                <tr>
                  <td rel="loai_o_dia">Loại ổ đĩa</td>
                  <td class="last">
                    SSD
                  </td>
                </tr>
                <tr>
                  <td rel="ram">Bộ nhớ RAM</td>
                  <td class="last">
                    16GB
                  </td>
                </tr>
                <tr>
                  <td rel="loai_ram">Chuẩn bộ nhớ RAM</td>
                  <td class="last">
                    DDR4
                  </td>
                </tr>
                <tr>
                  <td rel="bus">Bus</td>
                  <td class="last">
                    2400MHz
                  </td>
                </tr>
                <tr>
                  <td rel="camera">Camera</td>
                  <td class="last">
                    FaceTime HD camera
                  </td>
                </tr>
                <tr>
                  <td rel="audio_technology">Công nghệ âm thanh</td>
                  <td class="last">
                    Stereo speakers with high dynamic range
                  </td>
                </tr>
                <tr>
                  <td rel="cong_ket_noi">Cổng kết nối</td>
                  <td class="last">
                    4 Cổng Thunderbolt 3 (USB-Type C), Cổng âm thanh 3.5mm
                  </td>
                </tr>
                <tr>
                  <td rel="wifi">Wifi</td>
                  <td class="last">
                    WIFI 802.11 ac
                  </td>
                </tr>
                <tr>
                  <td rel="bluetooth">Bluetooth</td>
                  <td class="last">
                    Bluetooth 5.0
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="reviews" class="tab-pane" role="tabpanel">
        <div class="product-reviews">
          <div class="product-details-comment-block">
            <div class="comment-review">
              <span>Điểm</span>
              <ul class="rating">
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
                <li class="no-star"><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
            <div class="comment-author-infos pt-25">
              <span>Nguyễn Tuấn Đạt</span>
              <em>01-12-18</em>
            </div>
            <div class="comment-details">
              <h4 class="title-block">Sản phẩm tuyệt vời!</h4>
              <p>Sản phẩm dùng tốt, giao hàng nhanh!</p>
            </div>
            <div class="review-btn">
              <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Viết Đánh Giá Của Bạn!</a>
            </div>
            <!-- Begin Quick View | Modal Area -->
            <div class="modal fade modal-wrapper" id="mymodal">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <h3 class="review-page-title">Viết Đánh Giá Của Bạn</h3>
                    <div class="modal-inner-area row">
                      <div class="col-lg-6">
                        <div class="li-review-product">
                          <img src="images/product/large-size/3.jpg" alt="Li's Product">
                          <div class="li-review-product-desc">
                            <p class="li-product-name">Apple Macbook Pro Touch Bar 2019 - 15 Inchs (I7/ 16GB/ 256GB) -
                              Hàng Nhập Khẩu Chính Hãng</p>
                            <div class="product-desc">
                              <ul>
                                <li>Chip: 2.6GHz 6-core 9th-generation Intel Core i7 processor (I9-9750H, Turbo 4.5GHz,
                                  Cache 12MB)</li>
                                <li>RAM: 16GB 2400MHz DDR4 memory</li>
                                <li>Ổ cứng: 256GB SSD storage</li>
                                <li>Chipset đồ hoạ: Radeon Pro 555X with 4GB DDR5 memory + Intel UHD Graphics 630</li>
                                <li>Màn hình: 15.4 inch Retina Display with True Tone (2880 x 1800)</li>
                                <li>Hệ điều hành: Preinstalled macOS Mojave</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="li-review-content">
                          <!-- Begin Feedback Area -->
                          <div class="feedback-area">
                            <div class="feedback">
                              <h3 class="feedback-title">Phản hồi cho chúng tôi</h3>
                              <form action="#">
                                <p class="your-opinion">
                                  <label>Mức đánh giá của bạn</label>
                                  <span>
                                    <select class="star-rating">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                  </span>
                                </p>
                                <p class="feedback-form">
                                  <label for="feedback">Nhận xét của bạn</label>
                                  <textarea id="feedback" name="comment" cols="45" rows="8"
                                    aria-required="true"></textarea>
                                </p>
                                <div class="feedback-input">
                                  <p class="feedback-form-author">
                                    <label for="author">Tên<span class="required">*</span>
                                    </label>
                                    <input id="author" name="author" value="" size="30" aria-required="true"
                                      type="text">
                                  </p>
                                  <p class="feedback-form-author feedback-form-email">
                                    <label for="email">Email<span class="required">*</span>
                                    </label>
                                    <input id="email" name="email" value="" size="30" aria-required="true" type="text">
                                    <span class="required"><sub>*</sub> Thông tin bắt buộc</span>
                                  </p>
                                  <div class="feedback-btn pb-15">
                                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">Đóng</a>
                                    <a href="#">Gửi</a>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <!-- Feedback Area End Here -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Quick View | Modal Area End Here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
  <div class="container">
    <div class="row">
      <!-- Begin Li's Section Area -->
      <div class="col-lg-12">
        <div class="li-section-title">
          <h2>
            <span>15 sản phẩm tương tự:</span>
          </h2>
        </div>
        <div class="row">
          <div class="product-active owl-carousel">
            {{#each relateProducts}}
            <div class="col-lg-12">
              <!-- single-product-wrap start -->
              <div class="single-product-wrap">
                <div class="product-image">
                  <a href="single-product.html">
                    <img src="images/product/large-size/{{images}}" alt="Li's Product Image">
                  </a>
                  {{#if new}}
                  <span class="sticker">Mới</span>
                  {{/if}}
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a href="product-details.html">{{brand}}</a>
                      </h5>
                      <div class="rating-box">
                        <ul class="rating">
                          <li class="{{rating.[0]}}"><i class="fa fa-star-o"></i></li>
                          <li class="{{rating.[1]}}"><i class="fa fa-star-o"></i></li>
                          <li class="{{rating.[2]}}"><i class="fa fa-star-o"></i></li>
                          <li class="{{rating.[3]}}"><i class="fa fa-star-o"></i></li>
                          <li class="{{rating.[4]}}"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                    </div>
                    <h4><a class="product_name" href="single-product.html">{{name}}</a>
                    </h4>
                    <div class="price-box">
                      <span class="new-price new-price-2">{{newPrice}}₫</span>
                      <span class="old-price">{{price}}₫</span>
                      <span class="discount-percentage">-{{promote}}%</span>
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                      <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                            class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- single-product-wrap end -->
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <!-- Li's Section Area End Here -->
    </div>
  </div>
</section>
<!-- Li's Laptop Product Area End Here -->